 <!-- Replace with view -->
<div class="row">

    <div class="col-sm-8">
        
        <div class="row">

            <div class="col-sm-4" ng-repeat="thread in threads">
                <div class="well">
                    <span class="glyphicon glyphicon-thumbs-up pull-left"></span><span class="glyphicon glyphicon-remove pull-right"></span>
                    <h3>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</h3>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-4">
        
        <div id="embedded-feed" style="height:800px;width:400px;"></div>

    </div>


</div>